<template>
  <o-dialog title="Partial Round Robin">
    <v-card-text slot="content">
      <v-container>
        <p align="left">
          This application implements the partial round robin tournament system
          as well as the dedicated probabilistic partial round robin algorithm
          for scheduling. With the partial round robin tournament system it is
          possible to organise a tournament for any imaginable use case. Every
          team amount and every match size is possible.
        </p>
        <v-spacer></v-spacer>
        <p align="left">Ole Wendt</p>
        <p>
          <a
            rel="license"
            href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
            ><img
              alt="Creative Commons License"
              style="border-width:0"
              src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"/></a
          ><br /><span
            xmlns:dct="http://purl.org/dc/terms/"
            property="dct:title"
            >Partial Round Robin</span
          >
          by
          <span
            xmlns:cc="http://creativecommons.org/ns#"
            property="cc:attributionName"
            >Ole Wendt</span
          >
          is licensed under a
          <a
            rel="license"
            href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
            >Creative Commons Attribution-NonCommercial-ShareAlike 4.0
            International License</a
          >.
        </p>
        <p>
          <a href="../3rdPartyLicense.txt">
            Third Party Libraries used for this application</a
          >
        </p>
      </v-container>
    </v-card-text>
  </o-dialog>
</template>

<script>
import ODialog from "../components/ODialog";
export default {
  name: "AboutDialog",
  components: { ODialog }
};
</script>

<style scoped></style>
