<template>
  <o-dialog title="Algorithm Settings" short-title="Settings">
    <v-card-text slot="content">
      <v-list subheader>
        <v-subheader>Combinator Module</v-subheader>
        <v-list-item>
          <v-list>
            <v-list-item>
              <IntensityTextField intensity-type="CombinationIntensity" />
            </v-list-item>
            <v-list-item>
              <v-select
                label="Match Generation Method"
                v-model="chosenNextMatchGenerationOption"
                :items="combinationPrioriesTeamsForNextMatchMethods"
              >
              </v-select>
            </v-list-item>
            <v-list-item>
              <v-select
                label="Comparing Method"
                v-model="chosenMatchComparisonOption"
                :items="combinationMatchComparisonMethods"
              >
              </v-select>
            </v-list-item>
          </v-list>
        </v-list-item>
        <v-divider></v-divider>
        <v-subheader>Reducer Module</v-subheader>
        <v-list-item>
          <v-list>
            <v-list-item>
              <IntensityTextField intensity-type="ReducingIntensity" />
            </v-list-item>
            <v-list-item>
              <v-select
                label="Deletion Method"
                v-model="chosenReducingDeletionMethod"
                :items="reducingDeletionMethods"
              ></v-select>
            </v-list-item>
            <v-list-item>
              <v-select
                label="Merging Method"
                v-model="chosenReducingComparisonMethod"
                :items="reducingComparisonMethods"
              ></v-select>
            </v-list-item>
            <v-list-item>
              <v-select
                label="Fill Method"
                v-model="chosenReducingMergeMatchFillMethod"
                :items="reducingMergeMatchFillMethods"
              ></v-select>
            </v-list-item>
          </v-list>
        </v-list-item>
      </v-list>
    </v-card-text>
  </o-dialog>
</template>

<script>
import ODialog from "../components/ODialog";
import IntensityTextField from "../components/IntensityTextField";
export default {
  name: "AlgorithmSettingsDialog",
  components: { IntensityTextField, ODialog },
  data() {
    return {
      combinationPrioriesTeamsForNextMatchMethods: ["Random", "Participation"],
      combinationMatchComparisonMethods: ["More_Low", "Less_High"],
      reducingDeletionMethods: ["Random", "Highest"],
      reducingComparisonMethods: ["More_Low", "Less_High"],
      reducingMergeMatchFillMethods: ["Random", "Block"]
    };
  },
  computed: {
    chosenNextMatchGenerationOption: {
      get() {
        return this.$store.getters["settings/nextMatchGenerationOption"];
      },
      set(v) {
        this.$store.commit("settings/setNextMatchGenerationOption", v);
      }
    },
    chosenMatchComparisonOption: {
      get() {
        return this.$store.getters["settings/matchComparisonOption"];
      },
      set(v) {
        this.$store.commit("settings/setMatchComparisonOption", v);
      }
    },
    chosenReducingDeletionMethod: {
      get() {
        return this.$store.getters["settings/reducingDeletionMethod"];
      },
      set(v) {
        this.$store.commit("settings/setReducingDeletionMethod", v);
      }
    },
    chosenReducingComparisonMethod: {
      get() {
        return this.$store.getters["settings/reducingComparisonMethod"];
      },
      set(v) {
        this.$store.commit("settings/setReducingComparisonMethod", v);
      }
    },
    chosenReducingMergeMatchFillMethod: {
      get() {
        return this.$store.getters["settings/reducingMergeMatchFillMethod"];
      },
      set(v) {
        this.$store.commit("settings/setReducingMergeMatchFillMethod", v);
      }
    }
  }
};
</script>

<style scoped></style>
