<template>
  <o-dialog
    title="Match Result"
    short-title="Result"
    close-description="cancel"
  >
    <v-card-text slot="content">
      <v-form ref="form" v-on:submit.prevent>
        <v-list>
          <v-list-item>
            <v-list-item-content>
              <v-text-field
                v-for="(teamID, i) in fixture"
                :key="i"
                v-model="pointsOfParticipants[i]"
                :rules="pointRules"
                :label="teams[teamID].name + 's points'"
                @focus="showPartyAddPart = false"
                outlined
                type="number"
              ></v-text-field>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-form>
    </v-card-text>
    <v-btn slot="action" @click="saveResults" text>Save</v-btn>
    <v-btn
      slot="debugAction"
      v-show="showRandomResultsButton"
      @click="setRandomResults"
      icon
      ><v-icon>fa-dice</v-icon></v-btn
    >
  </o-dialog>
</template>

<script>
import ODialog from "../components/ODialog";
export default {
  name: "ConductMatchComponent",
  components: { ODialog },
  data() {
    return {
      pointsOfParticipants: [],
      pointRules: [
        v => !!v || "Points are required",
        v =>
          (v && v.length <= 10) ||
          "Point amounts with less then 11 digits should be enough",
        v => /^\d+$/.test(v) || "Only numbers are valid as points"
      ],
      resultModusOptions: ["Points", "Places"],
      resultModus: "Points",
      showPartyAddPart: false,
      selectedParties: []
    };
  },
  computed: {
    participants: function() {
      return this.fixture == null ? this.selectedParties : this.fixture;
    },
    fixture() {
      return this.$store.getters["fixtures/fixtureDict"][this.$route.params.id];
    },
    teams() {
      return this.$store.getters["teams/teams"];
    },
    showRandomResultsButton() {
      return (
        this.pointsOfParticipants.filter(points => points.length > 0).length ===
        0
      );
    }
  },
  methods: {
    saveResults() {
      if (this.$refs.form.validate()) {
        let matchResult = {};
        for (let i = 0; i < this.participants.length; i++)
          matchResult[this.fixture[i]] = this.pointsOfParticipants[i];
        this.$store.dispatch(
          "fixtures/markFixtureAsDone",
          this.$route.params.id
        );
        this.$store.dispatch("result/registerMatchResult", matchResult);
        this.$router.back();
      }
    },
    setRandomResults() {
      let matchResult = {};
      for (const i in this.fixture)
        matchResult[this.fixture[i]] =
          "" + (Math.floor(Math.random() * 10) + 1);
      this.$store.dispatch("fixtures/markFixtureAsDone", this.$route.params.id);
      this.$store.dispatch("result/registerMatchResult", matchResult);
      this.$router.back();
    }
  }
};
</script>

<style scoped></style>
