<template>
  <o-dialog title="Add Match" closeDescription="Cancel">
    <v-card-text slot="content">
      <v-container>
        <v-list>
          <v-list-item v-if="!playerAmountIsValid">
            <v-list-item-content>
              <v-chip label color="primary">
                <span v-show="difference > 0">
                  Please ADD {{ difference }} more
                  {{ difference == 1 ? "team" : "teams" }} to continue
                </span>
                <span v-show="difference < 0">
                  Please REMOVE {{ -difference }}
                  {{ difference == -1 ? "team" : "teams" }} to continue
                </span>
              </v-chip>
            </v-list-item-content>
          </v-list-item>
          <v-list-item align="left" v-if="selections.length > 0">
            <v-list-item-content>
              <v-card outlined width="360px">
                <v-card-subtitle>Chosen Teams</v-card-subtitle>
                <v-card-text>
                  <v-chip-group column>
                    <v-chip
                      close
                      v-for="(selection, i) in selections"
                      :key="selection.text"
                      label
                      outlined
                      @click:close="selected.splice(i, 1)"
                    >
                      {{ teams[selection].name }}
                    </v-chip>
                  </v-chip-group>
                </v-card-text>
              </v-card>
            </v-list-item-content>
          </v-list-item>
          <v-list-item align="left">
            <v-list-item-content>
              <v-card outlined width="360px">
                <v-card-subtitle>
                  Remaining Teams
                </v-card-subtitle>
                <v-card-text>
                  <v-chip-group column>
                    <template v-for="(item, i) in teamIDs">
                      <v-chip
                        v-if="!selected.includes(i)"
                        :key="i"
                        label
                        outlined
                        @click="selected.push(i)"
                      >
                        {{ teams[item].name }}
                      </v-chip>
                    </template>
                  </v-chip-group>
                </v-card-text>
              </v-card>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-container>
    </v-card-text>
    <v-btn
      text
      slot="action"
      :disabled="!playerAmountIsValid"
      @click="continueToMatchResultDialog"
      >Continue</v-btn
    >
  </o-dialog>
</template>

<script>
import ODialog from "../components/ODialog";

export default {
  name: "ManualMatchCreationDialog",
  components: { ODialog },
  data() {
    return {
      selected: [],
      search: ""
    };
  },
  computed: {
    allSelected() {
      return this.selected.length === this.teamIDs.length;
    },
    teams() {
      return this.$store.getters["teams/teams"];
    },
    teamIDs() {
      return this.$store.getters["teams/teamIDs"];
    },
    selections() {
      const selections = [];

      for (const selection of this.selected) {
        selections.push(this.teamIDs[selection]);
      }
      return selections;
    },
    teamsPerMatch() {
      return this.$store.getters["settings/teamsPerMatch"];
    },
    playerAmountIsValid() {
      return this.difference === 0;
    },
    difference() {
      return this.teamsPerMatch - this.selections.length;
    }
  },
  methods: {
    continueToMatchResultDialog() {
      const fixtureIDPromise = this.$store.dispatch(
        "fixtures/addTempFixture",
        this.selections
      );
      fixtureIDPromise.then(fixtureID => {
        this.$router.push({ name: "matchresult", params: { id: fixtureID } });
      });
    }
  }
};
</script>

<style scoped></style>
