<template>
  <o-dialog title="Tournament Configuration" short-title="Configuration">
    <v-card-text slot="content">
      <v-list>
        <v-list-item>
          <v-list-item-content>
            <v-card flat>
              <v-card-text>
                <v-card-subtitle>
                  Currently {{ teamAmount }} teams are registered
                </v-card-subtitle>
                <v-btn to="/schedules/teams">Team Manager</v-btn>
              </v-card-text>
            </v-card>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item>
          <v-list-item-content>
            <v-card flat>
              <v-card-text>
                <TeamsPerPatchInputComponent />
              </v-card-text>
            </v-card>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item align="center">
          <v-list-item-content>
            <v-card flat>
              <v-card-text>
                <v-card-subtitle>
                  Schedule Presentation
                </v-card-subtitle>
                <v-btn
                  :outlined="isInPresenterMode"
                  :text="isInPresenterMode"
                  @click="$store.commit('settings/togglePresenterMode')"
                  width="200px"
                >
                  {{ isInPresenterMode ? "Presentation Mode" : "List Mode" }}
                </v-btn>
              </v-card-text>
            </v-card>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card-text>
  </o-dialog>
</template>

<script>
import ODialog from "../components/ODialog";
import TeamsPerPatchInputComponent from "../components/TeamsPerMatchTextField";

export default {
  name: "MatchPlanningSettingsDialog",
  components: { TeamsPerPatchInputComponent, ODialog },
  computed: {
    teamAmount() {
      return this.$store.getters["teams/teamIDs"].length;
    },
    isInPresenterMode: {
      get() {
        return this.$store.getters["settings/isInPresentingMode"];
      }
    }
  }
};
</script>

<style scoped></style>
