<template>
  <o-dialog title="Done Matches">
    <v-card-text slot="content">
      <v-container>
        <v-list align="center">
          <v-card :width="!$vuetify.breakpoint.xsOnly ? '300px' : ''">
            <v-list-group align="left" v-for="(match, i) in matches" :key="i">
              <template v-slot:activator>
                <v-list-item-title>{{ i + 1 }}. Match</v-list-item-title>
              </template>
              <MatchComponent :match="match" />
            </v-list-group>
          </v-card>
        </v-list>
      </v-container>
    </v-card-text>
  </o-dialog>
</template>

<script>
import ODialog from "../components/ODialog";
import MatchComponent from "../components/MatchComponent";

export default {
  name: "MatchView",
  components: { MatchComponent, ODialog },
  data() {
    return {
      show: true
    };
  },

  computed: {
    matches() {
      return this.$store.getters["result/matchList"];
    },
    teams() {
      return this.$store.getters["teams/teams"];
    }
  }
};
</script>

<style scoped></style>
