<template>
  <o-dialog :title="teams[$route.params.id].name + 's Results'">
    <v-card-text slot="content">
      <v-container>
        <v-list align="center">
          <v-card :width="!$vuetify.breakpoint.xsOnly ? '300px' : ''">
            <v-list-group align="left" v-for="(match, i) in matches" :key="i">
              <template v-slot:activator>
                <v-list-item-title>
                  {{ teams[$route.params.id].name }} got
                  {{ match[$route.params.id] }}
                  {{ match[$route.params.id] > 1 ? "Points" : "Point" }}
                </v-list-item-title>
              </template>
              <MatchComponent :match="match" :focus="$route.params.id" />
            </v-list-group>
          </v-card>
        </v-list>
      </v-container>
    </v-card-text>
  </o-dialog>
</template>

<script>
import ODialog from "../components/ODialog";
import MatchComponent from "../components/MatchComponent";

export default {
  name: "ResultTeamView",
  components: { MatchComponent, ODialog },
  computed: {
    teams() {
      return this.$store.getters["teams/teams"];
    },
    matches() {
      const matchList = this.$store.getters["result/matchList"];
      const teamID = this.$route.params.id;
      const matchListWithCurrentTeam = matchList.filter(match =>
        Object.keys(match).includes(teamID)
      );
      return matchListWithCurrentTeam;
    },
    result() {
      const teamID = this.$route.params.id;
      const allResults = this.$store.getters["result/results"];
      const pointAmount = allResults.pointsSimple[teamID];
      const matchAmount = allResults.amountOfResults[teamID];
      const averagePoints = (pointAmount / matchAmount).toFixed(2);
      return {
        points: pointAmount,
        matches: matchAmount,
        averagePoints: averagePoints
      };
    }
  }
};
</script>

<style scoped></style>
