<template>
  <o-dialog title="Edit Teams">
    <v-card-text slot="content">
      <v-list>
        <v-list-item>
          <v-list-item-title>
            <EditPartyListComponent />
          </v-list-item-title>
        </v-list-item>
        <v-subheader v-show="teamIDs.length > 0">
          Registered Competitors
        </v-subheader>
        <v-list-item v-for="(teamID, i) in teamIDs" :key="i">
          <v-list-item-title>
            <EditPartyListComponent :teamID="teamID" />
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-card-text>
    <v-btn slot="debugAction" @click="fillTournamentWithParties" text>
      Add Five
    </v-btn>
  </o-dialog>
</template>

<script>
import ODialog from "../components/ODialog";
import EditPartyListComponent from "../components/TeamEditingTextField";
export default {
  name: "EditCompetitorsComponent",
  components: { EditPartyListComponent, ODialog },
  computed: {
    teamIDs() {
      return this.$store.getters["teams/teamIDs"];
    }
  },
  methods: {
    fillTournamentWithParties() {
      this.$store.dispatch("teams/fillWithDefaultParties");
    }
  }
};
</script>

<style scoped></style>
