<template>
  <o-dialog title="Manage Tournaments" short-title="Tournaments">
    <v-card-text slot="content">
      <v-list subheader>
        <v-subheader>
          Current Tournament
        </v-subheader>
        <v-list-item>
          <v-container>
            <v-card>
              <v-card-title>"{{ currentTournamentName }}"</v-card-title>
              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn text outlined @click="deleteCurrentTournament"
                  >Delete</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-container>
        </v-list-item>
        <template v-if="tournamentIDs.length > 0">
          <v-divider></v-divider>
          <v-subheader>
            Other Tournaments
          </v-subheader>
          <v-list-item v-for="(tournamentID, i) in tournamentIDs" :key="i">
            <v-container>
              <v-card v-show="Object.keys(tournaments).length > 0">
                <v-card-title
                  >"{{
                    tournaments[tournamentID].settings.tournamentName
                  }}"</v-card-title
                >
                <v-divider></v-divider>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn text outlined @click="openTournament(tournamentID)"
                    >Switch</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-container>
          </v-list-item>
        </template>
      </v-list>
    </v-card-text>
    <v-btn slot="action" text @click="createNewTournament">New</v-btn>
  </o-dialog>
</template>

<script>
import ODialog from "../components/ODialog";

export default {
  name: "TournamentHandlingDialog",
  components: { ODialog },
  methods: {
    createNewTournament() {
      this.$store.dispatch("tournament/saveCurrentTournament");
      this.$store.dispatch("tournament/resetAllStates");
      this.$router.push("/setup");
    },
    openTournament(id) {
      this.$store.dispatch("tournament/saveCurrentTournament");
      this.$store.dispatch("tournament/resetAllStates");
      this.$store.dispatch("tournament/loadTournament", id);
      this.$router.push("/");
    },
    deleteCurrentTournament() {
      this.$store.dispatch("tournament/resetAllStates");
      const firstIndex = Object.keys(this.tournaments)[0];
      if (firstIndex)
        this.$store.dispatch("tournament/loadTournament", firstIndex);
      else this.$router.push("/setup");
    }
  },
  computed: {
    tournamentIDs() {
      return this.$store.getters["tournament/tournamentIDs"];
    },
    tournaments() {
      return this.$store.getters["tournament/tournaments"];
    },
    currentTournamentName() {
      return this.$store.getters["settings/tournamentName"];
    }
  }
};
</script>

<style scoped></style>
