<template>
  <o-dialog title="Settings History">
    <v-card-text slot="content">
      <v-list>
        <v-list-item>
          <v-container>
            <v-card :width="!$vuetify.breakpoint.xsOnly ? '300px' : ''">
              <v-list-group
                align="left"
                v-for="(identifier, i) in identifieres"
                :key="i"
              >
                <template v-slot:activator>
                  <v-list-item-title v-if="currentID == identifier">
                    <v-icon>visibility</v-icon>
                    active Settings
                  </v-list-item-title>
                  <v-list-item-title v-else>
                    <v-icon
                      >{{
                        visibleDistributions.includes(identifier) ||
                        identifier == currentID
                          ? "visibility"
                          : "visibility_off"
                      }}
                    </v-icon>
                    "{{ identifier }}" Settings
                  </v-list-item-title>
                </template>
                <v-card>
                  <v-list>
                    <v-list-item v-show="currentID != identifier">
                      <v-list-item-action-text
                        >Visualise Distributions</v-list-item-action-text
                      >
                      <v-list-item-action>
                        <v-checkbox
                          :input-value="
                            visibleDistributions.includes(identifier) ||
                              identifier == currentID
                          "
                          @change="changeVisibilityStatus(identifier)"
                        />
                      </v-list-item-action>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>
                        <p>
                          Final Schedule Size:
                          {{ fixtures[identifier].length }} Matches
                        </p>
                        <p>
                          Saved through Reduction:
                          {{ settings[identifier].reduceFixtureAmount }} Matches
                        </p>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-group sub-group>
                      <template v-slot:activator>
                        <v-list-item-title>Combinator Module</v-list-item-title>
                      </template>
                      <v-list-item
                        >Intensity -
                        {{
                          settings[identifier].combinationIntensity
                        }}</v-list-item
                      >
                      <v-list-item
                        >Team Priorisation -
                        {{
                          settings[identifier].nextMatchGenerationOption
                        }}</v-list-item
                      >
                      <v-list-item
                        >Comparing Method -
                        {{
                          settings[identifier].matchComparisonOption
                        }}</v-list-item
                      >
                    </v-list-group>

                    <v-list-group sub-group>
                      <template v-slot:activator>
                        <v-list-item-title>Reducer Module</v-list-item-title>
                      </template>
                      <v-list-item
                        >Intensity -
                        {{
                          settings[identifier].reducingIntensity
                        }}</v-list-item
                      >
                      <v-list-item
                        >Deletion Method -
                        {{
                          settings[identifier].reducingDeletionMethod
                        }}</v-list-item
                      >
                      <v-list-item
                        >New Match Fill Method -
                        {{ settings[identifier].reducingMergeMatchFillMethod }}
                      </v-list-item>
                      <v-list-item
                        >Comparing Method -
                        {{
                          settings[identifier].reducingComparisonMethod
                        }}</v-list-item
                      >
                    </v-list-group>
                  </v-list>
                </v-card>
              </v-list-group>
            </v-card>
          </v-container>
        </v-list-item>
      </v-list>
      <v-list>
        <v-list-item>
          <v-list-item-content>
            <template v-if="identifieres.length > 2">
              <v-btn
                text
                outlined
                @click="$store.commit('prrs/setAllToVisible')"
                >Show All</v-btn
              >
              <v-btn
                text
                outlined
                @click="$store.commit('prrs/setAllToNotVisible')"
                >Hide All</v-btn
              >
            </template>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card-text>
  </o-dialog>
</template>

<script>
import ODialog from "../components/ODialog";

export default {
  name: "VisualisationSettingsDialog",
  components: { ODialog },
  methods: {
    changeVisibilityStatus(id) {
      this.$store.commit("prrs/changeVisibilityStatus", id);
    }
  },
  computed: {
    identifieres() {
      return this.$store.getters["prrs/IDs"];
    },
    settings() {
      return this.$store.getters["prrs/settings"];
    },
    fixtures() {
      return this.$store.getters["prrs/fixtureLists"];
    },
    currentID() {
      return this.$store.getters["prrs/currentIdentifier"];
    },
    visibleDistributions() {
      return this.$store.getters["prrs/visibileDistributions"];
    }
  }
};
</script>

<style scoped></style>
