<template>
  <v-container>
    <router-view></router-view>
    <template v-if="fixtureAmount > 0">
      <template v-if="isInPresenterMode">
        <v-row>
          <v-col>
            <FixtureCard :fixtureID="fixtureIDs[0]"></FixtureCard>
          </v-col>
        </v-row>
        <v-row v-if="fixtureAmount > 1">
          <v-col :xs="12" :sm="6">
            <p>
              {{ fixtureAmount }} more
              {{ fixtureAmount > 1 ? "Matches" : "Match" }}
            </p>
            <v-btn
              text
              outlined
              @click="$store.commit('fixtures/rotateTeamsList')"
              >Postpone Match</v-btn
            >
          </v-col>
          <v-col :xs="12" :sm="6">
            <v-card>
              <v-card-title>Please Prepare</v-card-title>
              <v-divider></v-divider>
              <v-container>
                <v-chip
                  class="ma-2"
                  outlined
                  label
                  v-for="(team, j) in nextFixture"
                  :key="j"
                  >{{ team.name }}</v-chip
                >
              </v-container>
            </v-card>
          </v-col>
        </v-row>
      </template>
      <template v-else>
        <v-container v-for="(index, i) in ids" :key="i">
          <FixtureCard :fixtureID="fixtureIDs[index]"></FixtureCard>
        </v-container>

        <v-pagination
          v-show="pageAmount > 1"
          v-model="page"
          :length="pageAmount"
          prev-icon="arrow_left"
          next-icon="arrow_right"
        ></v-pagination>
      </template>
    </template>
    <template v-else>
      <v-card>
        <v-card-title>
          No more Matches to play
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text align="left">
          You played every scheduled match. Therefore, you reached the state in
          which every team has seen every other team at least once and the
          tournament can be ended. But you can still add more matches manually
          or start a complete new tournament through the menu.
        </v-card-text>
      </v-card>
    </template>
  </v-container>
</template>

<script>
import FixtureCard from "../components/FixtureCard";

export default {
  name: "MatchPlanning",
  components: { FixtureCard },
  data() {
    return {
      page: 1
    };
  },
  computed: {
    ids() {
      var indexArray = [];
      for (
        var i = (this.page - 1) * 3;
        i < (this.page - 1) * 3 + 3 && i < this.fixtureAmount;
        i += 1
      )
        indexArray.push(i);
      return indexArray;
    },
    fixtureIDs() {
      return this.$store.getters["fixtures/plannedFixtureIDs"];
    },
    pageAmount() {
      const fixtures = this.$store.getters["fixtures/plannedFixtures"];
      return Math.ceil(fixtures.length / 3);
    },
    isInPresenterMode() {
      return this.$store.getters["settings/isInPresentingMode"];
    },
    nextFixture() {
      const fixture = this.$store.getters["fixtures/fixtureDict"][
        this.fixtureIDs[1]
      ];
      const teams = this.$store.getters["teams/teams"];
      return fixture.map(teamID => teams[teamID]);
    },
    fixtureAmount() {
      return this.$store.getters["fixtures/fixtureAmount"];
    }
  }
};
</script>

<style scoped></style>
