<template>
  <v-container>
    <router-view></router-view>
    <v-container>
      <v-card>
        <v-card-title>Participation Distribution</v-card-title>
        <v-card-text>
          <DistributionGraphComponent
            :distributions="participationDistribution"
            :distribution-names="legendIDs"
            x-axis-label="participation amount"
            y-axis-label="frequency"
          />
        </v-card-text>
      </v-card>
    </v-container>

    <v-container>
      <v-card>
        <v-card-title>Connections Distribution</v-card-title>
        <v-card-text>
          <DistributionGraphComponent
            :distributions="connectionDistributions"
            :distribution-names="legendIDs"
            x-axis-label="connection strength"
            y-axis-label="frequency"
          />
        </v-card-text>
      </v-card>
    </v-container>
  </v-container>
</template>

<script>
import DistributionGraphComponent from "../components/DistributionGraphComponent";
import { getDistributionOfConnections } from "../Utilities/FixtureListConnectionHelper";
import { getDistributionOfParticiaption } from "../Utilities/FixtureListParticipationHelper";

export default {
  name: "PartialRoundRobinView",
  components: { DistributionGraphComponent },
  computed: {
    currentID() {
      return this.$store.getters["prrs/currentIdentifier"];
    },
    IDs() {
      return this.$store.getters["prrs/IDs"];
    },
    legendIDs() {
      let descriptions = [];
      for (const id of Object.keys(this.fixtures)) {
        if (id == "done Matches")
          descriptions.push(
            "done Matches (m = " +
              this.fixtures[id].length +
              "/" +
              this.fixtures[this.currentID].length +
              " )"
          );
        if (id == this.currentID)
          descriptions.push(
            "active Settings (m = " + this.fixtures[id].length + ")"
          );
        if (this.visibleDistributions.includes(id))
          descriptions.push(
            '"' + id + '" Settings (m = ' + this.fixtures[id].length + ")"
          );
      }

      return descriptions;
    },
    fixtures() {
      let fixtureLists = this.$store.getters["prrs/fixtureLists"];
      const doneMatches = this.$store.getters["fixtures/doneFixtures"];
      if (doneMatches.length > 0) fixtureLists["done Matches"] = doneMatches;
      return fixtureLists;
    },
    connectionDistributions() {
      let distributions = [];
      for (const id of Object.keys(this.fixtures))
        if (
          this.visibleDistributions.includes(id) ||
          ["done Matches", this.currentID].includes(id)
        )
          distributions.push(getDistributionOfConnections([this.fixtures[id]]));
      return distributions;
    },
    participationDistribution() {
      let distributions = [];
      for (const id of Object.keys(this.fixtures))
        if (
          this.visibleDistributions.includes(id) ||
          ["done Matches", this.currentID].includes(id)
        )
          distributions.push(
            getDistributionOfParticiaption([this.fixtures[id]])
          );
      return distributions;
    },
    settings() {
      return this.$store.getters["prrs/settings"];
    },
    visibleDistributions() {
      return this.$store.getters["prrs/visibileDistributions"];
    }
  }
};
</script>

<style scoped></style>
