<template>
  <v-container>
    <v-container v-if="averagePointAmounts.length >= 3">
      <v-row align="end">
        <v-col>
          <TeamChip
            :team-i-d-array="teamsSortedForPointAmount[averagePointAmounts[1]]"
            :place="2"
            scale
          />
          <v-card height="70px" elevation="8" color="blue lighten-2" dark>
          </v-card>
        </v-col>
        <v-col>
          <TeamChip
            :team-i-d-array="teamsSortedForPointAmount[averagePointAmounts[0]]"
            :place="1"
            scale
          />
          <v-card height="120px" elevation="10" color="blue lighten" dark>
          </v-card>
        </v-col>
        <v-col>
          <TeamChip
            :team-i-d-array="teamsSortedForPointAmount[averagePointAmounts[2]]"
            :place="3"
            scale
          />
          <v-card height="50px" elevation="3" color="blue lighten-4" dark>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <v-card flat>
      <v-simple-table>
        <thead>
          <tr>
            <th v-show="!$vuetify.breakpoint.xsOnly">Place</th>
            <th>Team</th>
            <th>Average Points</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(teamInformation, i) in orderedTeamResults" :key="i">
            <td v-show="!$vuetify.breakpoint.xsOnly">
              {{ teamInformation.place }}
            </td>
            <td v-if="teamInformation.place > 1">
              {{ teams[teamInformation.teamID].name }}
            </td>
            <td v-else>
              <TeamChip :team-i-d-array="[teamInformation.teamID]" :place="1" />
            </td>
            <td>{{ teamInformation.points }}</td>
            <td>
              <v-btn
                icon
                small
                :to="{
                  name: 'teamView',
                  params: { id: teamInformation.teamID }
                }"
              >
                <v-icon>
                  more_vert
                </v-icon>
              </v-btn>
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </v-card>
    <router-view></router-view>
  </v-container>
</template>

<script>
import TeamChip from "../components/TeamChip";

export default {
  name: "Results",
  components: { TeamChip },
  data() {
    return {
      place: 10,
      placesDescription: ["First", "Second", "Third", "Fourth", "Fifth", "Six"]
    };
  },
  computed: {
    orderedTeamResults() {
      return this.$store.getters["result/orderedTeamResults"];
    },
    averagePointAmounts() {
      return this.$store.getters["result/averagePointAmounts"];
    },
    teamsSortedForPointAmount() {
      return this.$store.getters["result/teamsSortedForPointAmount"];
    },
    matches() {
      return this.$store.getters["result/matchList"];
    },
    teams() {
      return this.$store.getters["teams/teams"];
    },
    results() {
      return this.$store.getters["result/getTeamsSortedForPoints"];
    },
    areThereResults() {
      return this.$store.getters["result/areThereResultsToPresent"];
    }
  },
  methods: {
    goToResultTeamDialog(id) {
      this.$router.push({ name: "teamView", params: { id: id } });
    }
  }
};
</script>

<style scoped>
.card-outter {
  position: relative;
  padding-bottom: 50px;
}
</style>
