<template>
  <v-container>
    <v-stepper v-model="e6" vertical>
      <v-stepper-step :rules="[isNameValid]" :complete="e6 > 1" step="1">
        Tournament Name
      </v-stepper-step>

      <v-stepper-content step="1">
        <v-text-field
          label="Tournament Name"
          v-model="tournamentName"
          v-on:keydown.enter="e6 = 2"
        />

        <v-btn color="primary" @click="e6 = 2">Continue</v-btn>
      </v-stepper-content>

      <v-stepper-step :rules="[isPartyListValid]" :complete="e6 > 2" step="2"
        >Add Teams
      </v-stepper-step>

      <v-stepper-content step="2">
        <v-card flat>
          {{ partyListLength }} Teams are registered
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text outlined to="/setup/teams">Add Teams</v-btn>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>

        <v-btn color="primary" @click="e6 = 1" text>
          Go Back
        </v-btn>
        <v-btn color="primary" @click="e6 = 3">
          Continue
        </v-btn>
      </v-stepper-content>

      <v-stepper-step
        :rules="[isTeamsPerMatchValid]"
        :complete="e6 > 3"
        step="3"
        >Match Size
      </v-stepper-step>

      <v-stepper-content step="3">
        <v-container>
          <TeamsPerPatchInputComponent />
        </v-container>
        <v-btn color="primary" @click="e6 = 2" text>Go Back</v-btn>
        <v-btn color="primary" @click="e6 = 4">Continue</v-btn>
      </v-stepper-content>

      <v-stepper-step :complete="e6 > 4" step="4">Done</v-stepper-step>

      <v-stepper-content step="4">
        <v-container>
          You can adjust the tournament configuration later on again.
        </v-container>
        <v-btn color="primary" @click="e6 = 3" text>Go Back</v-btn>
        <v-btn
          color="primary"
          @click="finishSetupProcess"
          :disabled="!isInputValid()"
          >Finish</v-btn
        >
      </v-stepper-content>
    </v-stepper>
    <router-view></router-view>
  </v-container>
</template>

<script>
import TeamsPerPatchInputComponent from "../components/TeamsPerMatchTextField";

export default {
  name: "SetupComponent",
  components: { TeamsPerPatchInputComponent },
  data() {
    return {
      e6: 1,
      tournamentName: "",
      showTeamManager: false
    };
  },
  methods: {
    finishSetupProcess() {
      this.e6 = 5;
      this.$store.commit("settings/finishSetupProcess", this.tournamentName);
      this.$store.dispatch("fixtures/calculatedMatchCombinations", {
        onlySettingsChanged: true
      });
      this.$router.push("/schedules");
    },
    isNameValid() {
      return this.e6 <= 1 || this.tournamentName != "";
    },
    isPartyListValid() {
      return this.e6 <= 2 || this.partyListLength > 2;
    },
    isTeamsPerMatchValid() {
      return this.e6 <= 3 || this.isMatchSizeSet;
    },
    isInputValid() {
      return (
        this.isNameValid() &&
        this.isPartyListValid() &&
        this.isTeamsPerMatchValid()
      );
    }
  },
  computed: {
    partyListLength() {
      return this.$store.getters["teams/teamAmount"];
    },
    isMatchSizeSet() {
      return this.$store.getters["settings/teamsPerMatch"] != null;
    }
  }
};
</script>

<style scoped></style>
