<template>
  <v-app-bar app clipped-left dark color="primary">
    <v-btn icon @click="$router.back()" v-if="!isHomeScreen">
      <v-icon>arrow_back</v-icon>
    </v-btn>
    <v-toolbar-title class="title">
      {{ title }}
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items v-show="isHomeScreen && !isSetupScreen">
      <Menu />
    </v-toolbar-items>
  </v-app-bar>
</template>

<script>
import Menu from "./Menu";
export default {
  name: "AppBar",
  components: { Menu },
  data() {
    return {
      show: false
    };
  },
  computed: {
    isHomeScreen() {
      return this.$route.meta.isHomeScreen;
    },
    isSetupScreen() {
      return this.$route.meta.onlyForSetup;
    },
    title() {
      return this.isHomeScreen ? "Partial Round Robin" : "";
    }
  }
};
</script>

<style scoped></style>
