<template>
  <apexchart
    type="bar"
    height="350"
    :options="chartOptions"
    :series="series"
  ></apexchart>
</template>

<script>
import VueApexCharts from "vue-apexcharts";

export default {
  name: "DistributionGraphComponent",
  props: ["distributions", "distributionNames", "xAxisLabel", "yAxisLabel"],
  components: { apexchart: VueApexCharts },
  computed: {
    xAxisCategories() {
      var categories = [];
      for (const distribution of this.distributions) {
        for (const category of Object.keys(distribution)) {
          if (!categories.includes(category)) categories.push(category);
        }
      }
      return categories.sort((a, b) => parseInt(a) - parseInt(b));
    },

    chartOptions() {
      var options = {
        chart: {
          type: "bar",
          height: 350,
          animations: {
            enabled: false
          },
          toolbar: {
            show: false
          }
        },
        legend: {
          show: true,
          showForSingleSeries: true,
          horizontalAlign: "right",
          position: "bottom"
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: "95%",
            endingShape: "flat",
            dataLabels: {
              position: "top"
            }
          }
        },
        dataLabels: {
          enabled: true
        },
        stroke: {
          show: true,
          width: 2,
          colors: ["transparent"]
        },
        xaxis: {
          title: {},
          categories: null
        },
        yaxis: {
          title: {}
        },
        fill: {
          opacity: 1
        },
        tooltip: {
          enabled: false
        },
        grid: {
          show: true,
          borderColor: "#c2ccd1",
          strokeDashArray: 0,
          position: "back",
          xaxis: {
            lines: {
              show: true
            }
          }
        }
      };
      options.xaxis.categories = this.xAxisCategories;
      options.xaxis.title.text = this.xAxisLabel;
      options.yaxis.title.text = this.yAxisLabel;
      return options;
    },

    series() {
      var series = [];
      for (const i in this.distributions) {
        const distribution = this.distributions[i];
        let serieValues = [];
        for (const category of this.xAxisCategories) {
          const amount = distribution[category];
          if (amount === undefined) serieValues.push(0);
          else serieValues.push(amount);
        }
        series.push({ name: this.distributionNames[i], data: serieValues });
      }
      return series;
    }
  }
};
</script>

<style scoped></style>
