<template>
  <v-card class="mx-auto">
    <v-card-title v-show="isInPresenterMode">Next Match</v-card-title>
    <v-divider v-show="isInPresenterMode"></v-divider>
    <v-container>
      <v-row align="center">
        <v-col cols="12" :sm="3">
          <v-row justify="center">
            <identicon :fixture="fixture" />
          </v-row>
        </v-col>
        <v-col cols="12" :sm="9">
          <v-chip
            class="ma-2"
            small
            outlined
            label
            v-for="(team, j) in teams"
            :key="j"
            >{{ team.name }}</v-chip
          >
        </v-col>
      </v-row>
    </v-container>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        text
        outlined
        :to="{ name: 'matchresult', params: { id: fixtureID } }"
        >Enter Result</v-btn
      >
    </v-card-actions>
  </v-card>
</template>

<script>
import Identicon from "./Identicon";

export default {
  props: ["fixtureID"],
  name: "FixtureCard",
  components: { Identicon },
  methods: {
    openMatchResultDialog() {
      this.$router.push("/matchresult/" + this.fixtureID);
    }
  },
  computed: {
    isInPresenterMode() {
      return this.$store.getters["settings/isInPresentingMode"];
    },
    teams() {
      const fixture = this.$store.getters["fixtures/fixtureDict"][
        this.fixtureID
      ];
      const teams = this.$store.getters["teams/teams"];
      return fixture.map(teamID => teams[teamID]);
    },
    fixture() {
      return this.$store.getters["fixtures/fixtureDict"][this.fixtureID];
    }
  }
};
</script>

<style scoped></style>
