<template>
  <v-card max-width="120px" max-height="120px'">
    <div class="icon" v-html="identicon" />
  </v-card>
</template>

<script>
import jdenticon from "jdenticon";
export default {
  props: ["fixture"],
  name: "Identicon",
  computed: {
    identicon() {
      const identiconString = this.fixture.map(
        teamID => this.teams[teamID].name
      );
      return jdenticon.toSvg(identiconString, 120);
    },
    teams() {
      return this.$store.getters["teams/teams"];
    }
  }
};
</script>

<style scoped>
.icon {
  height: 120px;
  width: 120px;
}
</style>
