<template>
  <v-form v-model="isValid">
    <v-text-field
      hint="Has a strong impact on the time needed for calculation"
      dense
      v-model="intensity"
      :label="intensityTypeLabel"
      :rules="rules"
      type="number"
      :append-outer-icon="focus ? 'check' : ''"
      @click:append="check"
      @focus="focus = true"
      @blur="focus = false"
      @change="check"
    />
  </v-form>
</template>

<script>
export default {
  name: "IntensityTextField",
  props: ["intensityType"],
  data() {
    return {
      intensity_internal: null,
      rules: [
        v => v !== null,
        v => v > 0 || "Has to be at least one",
        v => v <= 1000 || "Can be at most 1000",
        v => v.length > 0
      ],
      focus: false,
      isValid: true
    };
  },
  methods: {
    check() {
      if (this.isValid) {
        this.$store.commit(
          "settings/set" + this.intensityType,
          this.intensity_internal
        );
      }
    }
  },
  computed: {
    intensityTypeLabel() {
      if (this.intensityType.includes("Combination"))
        return "Combinator Intensity";
      else return "Reducer Intensity";
    },
    intensity: {
      get() {
        if (this.intensity_internal === null) {
          return this.$store.getters["settings/" + this.intensityType];
        } else return this.intensity_internal;
      },
      set(v) {
        this.intensity_internal = v;
      }
    }
  }
};
</script>

<style scoped></style>
