<template>
  <v-card>
    <v-list dense>
      <v-list-group
        sub-group
        v-for="(points, i) in Object.keys(matchResult(match))"
        :key="i"
      >
        <template v-slot:activator>
          <v-list-item-title
            >{{ points }}
            {{ parseInt(points) > 1 ? "Points" : "Point" }}</v-list-item-title
          >
        </template>
        <v-card>
          <v-list dense>
            <v-list-item
              v-for="(team, j) in matchResult(match)[points]"
              :key="j"
            >
              {{ teams[team].name }}
            </v-list-item>
          </v-list>
        </v-card>
      </v-list-group>
    </v-list>
  </v-card>
</template>

<script>
export default {
  components: {},
  props: ["match", "focus"],
  name: "MatchComponent",
  methods: {
    matchResult(match) {
      let pointAmounts = [];
      for (const points of Object.values(match)) {
        if (!pointAmounts.includes(parseInt(points))) pointAmounts.push(points);
      }
      pointAmounts = pointAmounts.sort((a, b) => a - b);
      let object = {};
      for (const points of pointAmounts)
        object[points] = Object.keys(match).filter(
          teamID => parseInt(match[teamID]) == points
        );
      return object;
    }
  },
  computed: {
    teams() {
      return this.$store.getters["teams/teams"];
    },
    maxPoints() {
      return Math.max(
        ...Object.values(this.match).map(number => parseInt(number))
      );
    },
    orderedTeamIDsForPoints() {
      return Object.keys(this.match).sort(
        (a, b) => this.match[b] - this.match[a]
      );
    }
  }
};
</script>

<style scoped></style>
