<template>
  <v-menu close-on-click offset-x close-on-content-click>
    <template v-slot:activator="{ on }">
      <v-btn icon v-on="on">
        <v-icon>more_vert</v-icon>
      </v-btn>
    </template>
    <v-card flat width="200px">
      <v-list nav dense>
        <v-list-item
          v-show="onMatchPlanningScreen"
          :to="{ name: 'manualmatchcreation' }"
        >
          Add Match
        </v-list-item>
        <v-list-item
          v-show="onMatchPlanningScreen"
          :to="{ name: 'matchplanningsettings' }"
        >
          Configuration
        </v-list-item>
        <v-list-item v-show="onResultScreen" :to="{ name: 'matches' }">
          All Matches</v-list-item
        >
        <v-list-item v-show="onPRRSScreen" :to="{ name: 'algorithmSetting' }">
          Algorithm Settings</v-list-item
        >
        <v-list-item v-show="onPRRSScreen" :to="{ name: 'pastsettings' }">
          Settings History
        </v-list-item>
        <v-list-item
          v-show="onMatchPlanningScreen"
          :to="{ name: 'tournamentHandling_home' }"
        >
          {{ tournamentHandlingButtonDescriptor }}
        </v-list-item>
        <v-list-item
          v-show="onResultScreen"
          :to="{ name: 'tournamentHandling_results' }"
        >
          {{ tournamentHandlingButtonDescriptor }}
        </v-list-item>
        <v-list-item
          v-show="onPRRSScreen"
          :to="{ name: 'tournamentHandling_prrs' }"
        >
          {{ tournamentHandlingButtonDescriptor }}
        </v-list-item>
        <v-list-item v-show="onMatchPlanningScreen" :to="{ name: 'about' }">
          About
        </v-list-item>
      </v-list>
    </v-card>
  </v-menu>
</template>

<script>
export default {
  name: "Menu",
  data() {
    return {
      tournamentHandlingButtonDescriptor: "Switch Tournament"
    };
  },
  computed: {
    onMatchPlanningScreen() {
      return this.$route.path == "/schedules";
    },
    onResultScreen() {
      return this.$route.path == "/results";
    },
    onPRRSScreen() {
      return this.$route.path == "/prrs";
    }
  }
};
</script>

<style scoped></style>
