<template>
  <v-dialog
    v-model="showDialog"
    scrollable
    persistent
    @click:outside="goBackIfNotLoading"
    :fullscreen="isOnMobileDevices"
    :width="!isOnMobileDevices ? '400px' : ''"
  >
    <v-card>
      <v-overlay
        z-index="3000"
        :value="$store.getters['fixtures/isCalculating']"
      >
        <v-progress-circular
          indeterminate
          size="80"
          width="12"
          value="80"
        ></v-progress-circular>
      </v-overlay>
      <v-app-bar dark color="primary" fixed v-if="isOnMobileDevices">
        <v-btn icon @click="$router.back()">
          <v-icon>arrow_back</v-icon>
        </v-btn>
        <v-toolbar-title>
          {{ shortTitle ? shortTitle : title }}
        </v-toolbar-title>
        <template v-show="isOnMobileDevices">
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <slot name="action"></slot>
            <slot name="debugAction"></slot>
          </v-toolbar-items>
        </template>
      </v-app-bar>
      <v-card-title v-else>{{ title }}</v-card-title>
      <v-divider></v-divider>
      <v-content v-if="isOnMobileDevices">
        <slot name="content">No content provided</slot>
      </v-content>
      <slot v-else name="content">No content provided</slot>
      <v-divider v-show="!isOnMobileDevices"></v-divider>
      <v-card-actions v-show="!isOnMobileDevices">
        <slot name="debugAction"></slot>
        <v-spacer></v-spacer>
        <v-btn @click="$router.back()" text>{{
          closeDescription !== undefined ? closeDescription : "Done"
        }}</v-btn>
        <slot name="action" v-show="!isOnMobileDevices"></slot>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ["title", "shortTitle", "closeDescription"],
  name: "ODialog",
  data() {
    return {
      isOnMobileDevices: this.$vuetify.breakpoint.xsOnly,
      showDialog: true
    };
  },
  methods: {
    goBackIfNotLoading() {
      if (!this.$store.getters["fixtures/isCalculating"]) this.$router.back();
    }
  }
};
</script>

<style scoped></style>
