<template>
  <v-form v-model="valid">
    <v-text-field
      dense
      label="Match Size"
      v-model="teamsPerMatch"
      :rules="playerNumberRules"
      type="number"
      :append-outer-icon="focus ? 'check' : ''"
      @click:append="checkTeamsPerMatch"
      @focus="focus = true"
      @blur="focus = false"
      @change="checkTeamsPerMatch"
    ></v-text-field>
  </v-form>
</template>

<script>
export default {
  name: "TeamsPerPatchInputComponent",
  data() {
    return {
      valid: true,
      teamsPerMatchManuallyEdited: null,
      playerNumberRules: [
        v => v > 1 || "At least two teams are needed for a match",
        v =>
          v < this.teamAmount ||
          "The match size has to be scmaller than the total amount of teams"
      ],
      focus: false,
      errorMessages: ""
    };
  },
  methods: {
    checkTeamsPerMatch() {
      if (this.valid) {
        this.$store.commit(
          "settings/changeTeamsPerMatch",
          this.teamsPerMatchManuallyEdited
        );
      }
    }
  },
  computed: {
    teamAmount() {
      return this.$store.getters["teams/teamAmount"];
    },
    teamsPerMatch: {
      get() {
        return this.$store.getters["settings/teamsPerMatch"];
      },
      set(val) {
        this.teamsPerMatchManuallyEdited = val;
      }
    }
  }
};
</script>

<style scoped>
.centered-input input {
  text-align: center;
}
</style>
