<template>
  <v-chip outlined label>
    <v-icon x-small left v-show="place === 1">
      fas fa-crown
    </v-icon>

    {{ string }} {{ this.scale }}
  </v-chip>
</template>

<script>
export default {
  props: ["teamIDArray", "place", "scale"],
  name: "TeamChip",
  computed: {
    string() {
      let names = this.teamIDArray.map(id => this.teams[id].name);
      let amountOfNamesToShow = 2;
      if (this.scale !== undefined && this.$vuetify.breakpoint.xsOnly) {
        names = names.map(name => name.slice(0, 2) + ".");
        amountOfNamesToShow = 1;
      }
      if (names.length <= amountOfNamesToShow) return names.join(" & ");
      else
        return (
          names.slice(0, amountOfNamesToShow).join(" & ") +
          " + " +
          (names.length - amountOfNamesToShow)
        );
    },
    teams() {
      return this.$store.getters["teams/teams"];
    }
  }
};
</script>

<style scoped></style>
