<template>
  <v-form ref="form" v-on:submit.prevent>
    <v-text-field
      dense
      single-line
      label="Team Name"
      v-model="partyName"
      :rules="rules"
      :prepend-inner-icon="prependInnerIcon"
      @click:prepend-inner="deleteParty"
      :append-icon="icon"
      v-on:keydown.enter="submitInput"
      @click:append="submitInput"
      @focus="getFocus"
      @blur="lostFocus"
    ></v-text-field>
  </v-form>
</template>

<script>
export default {
  name: "EditPartyListComponent",
  props: ["teamID"],
  data() {
    return {
      rules: [
        v => v.length > 0 || "Enter name",
        v => this.checkLength(v) || "Name must be less than 15 characters",
        v => this.isPartyNameUnique(v) || "Name is already used"
      ],
      focus: false,
      max: 15,
      partyNameInternal: null
    };
  },
  methods: {
    submitInput() {
      if (this.focus) {
        if (this.isMainTeamInputField) this.addParty();
        else this.editParty();
      }
    },
    addParty() {
      if (this.$refs.form.validate() && this.partyName.length > 0) {
        this.$store.commit("teams/addParty", {
          name: this.partyNameInternal,
          isActive: true
        });
        this.partyNameInternal = null;
      }
    },
    editParty() {
      if (this.$refs.form.validate() && this.partyNameInternal.length > 0) {
        this.$store.commit("teams/editPartyName", {
          id: this.teamID,
          newName: this.partyNameInternal
        });
        this.focus = false;
      }
    },
    deleteParty() {
      if (this.focus) {
        this.$store.commit("teams/deleteParty", this.teamID);
        this.$store.dispatch(
          "fixtures/calculatedMatchCombinations",
          { onlySettingsChanged: false },
          { root: true }
        );
      }
    },
    checkLength(partyName) {
      if (partyName !== null) return partyName.length <= this.max;
      else return true;
    },
    isPartyNameUnique(partyName) {
      if (!this.isMainTeamInputField && !this.hasPartyNameChanged(partyName))
        return true;
      return !this.$store.getters["teams/teamNames"].includes(partyName);
    },
    hasPartyNameChanged(partyName) {
      return this.$store.getters["teams/teams"][this.teamID].name !== partyName;
    },
    getFocus() {
      this.focus = true;
      this.$refs.form.validate();
    },
    lostFocus() {
      this.focus = false;
      this.$refs.form.resetValidation();
    }
  },
  computed: {
    partyList() {
      return this.$store.getters["teams/teams"];
    },
    partyName: {
      get() {
        if (this.partyNameInternal === null) {
          if (this.isMainTeamInputField) return "";
          else return this.$store.getters["teams/teams"][this.teamID].name;
        } else {
          return this.partyNameInternal;
        }
      },
      set(value) {
        this.partyNameInternal = value;
      }
    },
    isMainTeamInputField() {
      return this.teamID === undefined;
    },
    prependInnerIcon() {
      if (!this.isMainTeamInputField) {
        if (this.focus) return "delete";
        else return "group";
      } else {
        return "";
      }
    },
    icon() {
      if (!this.focus)
        if (!this.isMainTeamInputField) return "edit";
        else return "add";
      else return "check";
    }
  },
  mounted() {
    this.$refs.form.resetValidation();
  }
};
</script>

<style scoped></style>
