<template>
  <v-app>
    <AppBar></AppBar>
    <v-content>
      <v-container fill-height>
        <v-flex xs12 sm12 md10 lg8 class="mx-auto">
          <transition :name="transitionName" mode="out-in">
            <router-view></router-view>
          </transition>
        </v-flex>
      </v-container>
    </v-content>
    <v-bottom-navigation v-if="showBottomNavigation">
      <v-bottom-navigation grow horizontal fixed>
        <v-btn to="/">
          <span>{{ onMobile ? "" : "Schedule" }}</span>
          <v-icon>sports_kabaddi</v-icon>
        </v-btn>
        <v-btn to="/results" v-show="areResultsPresent">
          <span>{{ onMobile ? "" : "Result" }}</span>
          <v-icon>insert_chart</v-icon>
        </v-btn>
        <v-btn to="/prrs">
          <span>{{ onMobile ? "" : "Algorithm" }}</span>
          <v-icon>extension</v-icon>
        </v-btn>
      </v-bottom-navigation>
    </v-bottom-navigation>
  </v-app>
</template>

<script>
import AppBar from "./components/AppBar";

export default {
  components: { AppBar },
  data() {
    return {
      drawer: null,
      showSettings: false,
      transitionName: "slide"
    };
  },
  computed: {
    onMobile() {
      return this.$vuetify.breakpoint.xsOnly;
    },
    showBottomNavigation() {
      return this.$route.meta.isHomeScreen && this.$route.meta.needsSetup;
    },
    areResultsPresent() {
      return this.$store.getters["result/areThereResultsToPresent"];
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.4s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}
</style>
